* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

html {
  --colorRed: rgb(237, 107, 107);
  --colorYellow: rgb(243, 240, 72);
  --colorOrange: rgb(248, 175, 92);
  --colorBlue: rgb(70, 187, 255);
  --colorGreen: rgb(140, 240, 140);
  --colorPurple: rgb(218, 94, 230);
  --colorDarkest: #111;
  --colorDarker: #222;
  --colorDark: #333;
  --colorMid: #444;
  --colorMidLight: #666;
  --colorLight: #fff;
  --colorCorrect: rgb(140, 240, 140);
  --colorWrong: rgb(237, 107, 107);
  --colorWarning: rgb(248, 175, 92);
  --colorRelax: rgb(133, 79, 130);
  --colorCounter: gold;
  --colorContrast: red;
  --colorSuperSonic: rgb(53, 255, 53);
  --colorUltraSonic: rgb(221, 53, 255);
}

::-moz-selection {
  background-color: #666;
}

::selection {
  background-color: #666;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/montserrat_regular.ttf");
}
@font-face {
  font-family: "Grandstander";
  src: url("../public/fonts/granstander_variable.ttf");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../public/fonts/jetbrains_mono_variable.ttf");
}
body {
  font-family: "Montserrat";
  background: linear-gradient(var(--colorDark), var(--colorDarker));
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.counter {
  position: absolute;
  text-align: center;
  font-size: 5vh;
}

#inp_fileChooser {
  color: transparent;
  position: absolute;
  bottom: 4.5vh;
  right: 4vw;
  width: 8vw;
  height: 4vh;
  display: inline;
  border: none;
  outline: none;
  border-radius: 4vh;
  background-color: transparent;
  font-family: var(--fontMontserrat);
}

#inp_fileChooser::-webkit-file-upload-button {
  visibility: hidden;
  position: absolute;
  bottom: 4vh;
  right: 2vw;
  margin: 0;
  padding: 0;
}

.lastUpdatedText {
  color: #ccc;
  z-index: 6;
  position: absolute;
  bottom: 11vh;
  right: 1vw;
  font-size: 1vw;
}

header {
  display: grid;
  height: 11vh;
  width: 100%;
  box-shadow: var(--colorDarker) 0 1vh 2vh;
  position: relative;
  z-index: 3;
  background: var(--colorDark);
  grid-template-columns: 2fr 2fr 0.7fr 1.3fr;
  justify-content: center;
  align-items: center;
}
header .header_box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_box_left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1vw;
}
header #canvas_loadingBar {
  width: 12vw;
  height: 8vh;
  border-radius: 5vw;
  background-color: var(--colorDarker);
}
header img {
  width: 4.5vw;
  height: 4.5vw;
  transition: transform 500ms ease-in-out;
  filter: drop-shadow(0.5vw 0.5vw 0.25vw var(--colorDarker));
  cursor: pointer;
}
header img:hover {
  transform: scale(1.2) rotate(375deg);
}
header #p_points {
  color: var(--colorYellow);
}
header h1,
header #p_subtitle {
  color: var(--colorLight);
  width: 100%;
  font-family: "Grandstander";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 4vw;
}
header #p_subtitle {
  width: 100%;
  font-size: 1vw;
  font-style: italic;
}

iframe {
  display: none;
}

#gameArea {
  width: 100%;
  height: 79vh;
  justify-content: center;
  align-items: center;
}
#gameArea .gameSection {
  height: inherit;
}
#gameArea #majorSection {
  display: flex;
  width: 100%;
  height: inherit;
}
#gameArea #textArea {
  width: 80%;
  overflow-y: scroll;
}
#gameArea #textArea * {
  -webkit-user-select: initial;
  /* Safari */
  /* Internet Explorer/Edge */
  -moz-user-select: initial;
       user-select: initial;
  /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}
#gameArea #textArea a {
  all: none;
  color: rgb(194, 232, 253);
  text-decoration: none;
}
#gameArea #textArea p {
  font-size: 1.25vw;
  color: var(--colorLight);
  background-color: var(--colorMid);
  padding: 2.5vh 2vw 2.5vh 2vw;
  border-radius: 2vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  width: 80%;
  box-shadow: 0.5vw 1vw 1vw var(--colorDarker);
}
#gameArea #textArea .monospaceText {
  font-family: "JetBrains Mono", monospace;
}
#gameArea #gameButtonSection {
  background: var(--colorDark);
}
#gameArea #gameModeArea {
  width: 80%;
  height: 65%;
  display: block;
  margin-left: 2.5vw;
  text-align: center;
}
#gameArea #gameModeArea h3 {
  color: var(--colorLight);
  font-size: 2vw;
  margin-top: 3vh;
}
#gameArea #gameModeArea .button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  height: 7.5vh;
  overflow-wrap: break-word;
  justify-content: center;
  align-items: center;
  border-radius: 5vw;
  padding: 2vh 1.5vw;
  color: var(--colorLight);
  font-size: 1.5vw;
  margin: 2vh auto;
  transition: background-color 500ms;
}
#gameArea #abilityArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
  text-align: center;
  background-color: var(--colorDark);
  width: 90%;
  margin: 0 auto;
  padding: 1vw;
  border-radius: 2.5vw;
  box-shadow: inset 0.5vw 0.5vh 1vw var(--colorDarker);
}
#gameArea #abilityArea .button {
  width: 100%;
}
#gameArea #answerArea {
  background-color: var(--colorDark);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  -webkit-user-select: initial;
  /* Safari */
  /* Internet Explorer/Edge */
  -moz-user-select: initial;
       user-select: initial;
  /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
  font-size: 1.5vw;
  height: 10vh;
  box-shadow: var(--colorDarker) 0 -1vh 2vh;
}
#gameArea #answerArea #p_combo {
  position: static;
  color: var(--colorLight);
  text-shadow: 0 0 1vh red;
  transition: text-shadow 1000ms;
}
#gameArea #inp_textInput {
  all: unset;
  display: flex;
  color: var(--colorLight);
  padding: 0.5vh 1vw;
  border-radius: 5vh;
  font-size: 1.5vw;
  font-family: "JetBrains Mono", monospace;
  box-shadow: inset 0 0 1vw var(--colorDarkest);
  transition: background-color 500ms;
  width: 30vw;
}
#gameArea #inp_textInput:hover {
  background-color: var(--colorMid);
}
#gameArea #inp_textInput:focus {
  background-color: var(--colorDarker);
}
#gameArea .label {
  color: var(--colorLight);
}
#gameArea .button,
#gameArea .disabled {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 7.5vh;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 5vw;
  padding: 2vh 1.5vw;
  color: var(--colorLight);
  font-size: 3.5vh;
  transition: background-color 500ms;
}
#gameArea .button:hover {
  background-color: var(--colorMidLight) !important;
}
#gameArea .button[data-mode=relax]:hover {
  background-color: var(--colorRelax) !important;
}
#gameArea .disabled {
  color: var(--colorMidLight);
  cursor: unset;
}

div div::-webkit-scrollbar {
  display: block;
  background: var(--colorDarkest);
}
div div::-webkit-scrollbar-track {
  background-color: var(--colorDark);
  border-radius: 5vh;
}
div div::-webkit-scrollbar-thumb {
  background-color: var(--colorMidLight);
  border-radius: 5vh;
}

.answer_input_box {
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 2.5vw;
}

.button.red:hover {
  background-color: var(--colorRed) !important;
}

.button.yellow:hover {
  background-color: var(--colorYellow) !important;
  color: var(--colorDark) !important;
}

.button.orange:hover {
  background-color: var(--colorOrange) !important;
}

.button.blue:hover {
  background-color: var(--colorBlue) !important;
}

.button.green:hover {
  background-color: var(--colorGreen) !important;
  color: var(--colorDark) !important;
}

.button.purple:hover {
  background-color: var(--colorPurple) !important;
}

.colorCorrect {
  color: var(--colorCorrect);
}

.wrongText {
  color: var(--colorWrong);
}

.warningText {
  color: var(--colorWarning);
}

.shieldColor {
  color: var(--colorBlue);
}

.super {
  color: var(--colorSuperSonic);
  text-shadow: 0 0 1vh var(--colorSuperSonic);
  font-weight: bold;
}

.ultra {
  color: var(--colorUltraSonic);
  text-shadow: 0 0 1vh var(--colorUltraSonic);
  font-weight: bold;
}

.pointMessage {
  color: var(--colorYellow);
  text-shadow: 0 0 1vh var(--colorYellow);
  font-weight: bold;
}

.comboColor {
  color: var(--colorUltraSonic);
}

.boldText {
  font-weight: bold;
}

.biggerText {
  font-size: 2.5vw;
  margin-bottom: 2vh;
}

.bigText {
  font-size: 1.5vw;
  margin-bottom: 2vh;
}

#inp_volSlider {
  height: 2vh;
  -webkit-appearance: none;
  width: 8vw;
  background-color: var(--colorDark);
}

#inp_volSlider::-webkit-slider-runnable-track {
  width: 8vw;
  height: 2vh;
  cursor: pointer;
  background: var(--colorDarker);
  border-radius: 1vw;
}

#inp_volSlider::-webkit-slider-thumb {
  height: 2vw;
  width: 2vw;
  border-radius: 1vw;
  background: var(--colorMidLight);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5vw;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

#inp_volSlider::-webkit-slider-thumb:hover {
  height: 2vw;
  width: 2vw;
  border-radius: 1vw;
  background: var(--colorLight);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5vw;
}

.link {
  color: var(--colorWarning) !important;
  font-weight: bold;
  font-size: 1.75vw;
}/*# sourceMappingURL=style.css.map */