
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$fontMontserrat: 'Montserrat', sans-serif;
$fontJetBrains: 'JetBrains Mono', monospace;
$fontGrandstander: 'Grandstander';

body {
    background-color: var(--colorDark);
    outline: 1px solid yellow;

    font-family: $fontMontserrat;
    color: var(--colorLight);
}

header {
    padding-top: 1vh;

    height: 11vh;
    width: 100%;
    justify-content: center;
    box-shadow: var(--colorDarker) 0 1vh 2vh;
    position: relative;
    z-index: 3;
    background: var(--colorDark);
    
    #p_points {
        color: gold;
        position: absolute;
        right: 10vw;
        top: 2vh;
    }

    h1, #p_subtitle {
        color: var(--colorLight);
        width: 100%;
        font-family: $fontGrandstander;
        text-align: center;
    }
    
    h1 {
        font-size: 3.5vw;
    }
    
    #p_subtitle {
        margin-top: -0.5vh;
        font-size: 1vw;
        font-style: italic;
    }
}

.button {
    display: flex;
    width: fit-content;
    height: 7.5vh;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    padding: 2vh 1.5vw;
    color: var(--colorLight);
    font-size: 3.5vh;
    transition: background-color 500ms;
}

.button:hover {
    background-color: var(--colorMidLight);
}

.headerButton {
    position: absolute;
    left: 1vw;
}

// actually unique content

section {
    width: 100%;
    height: fit-content;
    padding: 4vh 0;
    text-align: center;
    display: flex;

    .subsection {
        h1 {
            font-family: $fontGrandstander;
            font-size: 3rem;
        }
        p {
            font-size: 2rem;
            width: 80%;
            margin: 0 auto;
        }
        
    }

    .halfSection { 
        width: 50%;
    }

}

.odd {
    background-color: var(--colorDark);
}
.even {
    background-color: var(--colorMid);
}

.sectionSplitter {
    width: 100%;
    clip-path: unset;
}


// some spans

.textItalic { font-style: italic; }
.textBold { font-weight: 600; }
.textLink { 
    all: none;
    color:rgb(194, 232, 253);
    text-decoration: none; // might be obsolete
}

