
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    // outline:rgb(53, 255, 53) 2px solid;

    --colorRed: rgb(237, 107, 107);
    --colorYellow: rgb(243, 240, 72);
    --colorOrange: rgb(248, 175, 92);
    --colorBlue: rgb(70, 187, 255);
    --colorGreen: rgb(140, 240, 140);
    --colorPurple: rgb(218, 94, 230);

}

$fontMontserrat: 'Montserrat', sans-serif;
$fontJetBrains: 'JetBrains Mono', monospace;
$fontGrandstander: 'Grandstander';



body {
    background: var(--colorDark);
    font-family: $fontMontserrat;
    
}

.counter {
    font-size: 5vh;
    text-align: center;
    position: absolute;
}

header {
    height: fit-content;
    height: 10vh;
    width: 100%;;
    
    justify-content: center;
    box-shadow: var(--colorDarker) 0 1vh 2vh;
    position: relative;
    z-index: 3;
    
    #p_points {
        color: gold;
        right: 18vh;
        top: 1vh;
    }

    h1, #p_subtitle {
        color: var(--colorLight);
        width: 100%;
        font-family: $fontGrandstander;
        text-align: center;
    }
    
    h1 {
        font-size: 3.5vw;
        margin-top: 0.5vh;
    }
    
    #p_subtitle {
        margin-top: -0.5vh;
        font-size: 1vw;
        font-style: italic;
    }
}

// invisible youtube player that plays the music
iframe {
    display: none;
}

#canvas_loadingBar {
    display: inline;
    width: 12vw;
    height: 8vh;
    border-radius: 5vw;
    background-color: var(--colorDarker);
    position: relative;
    top: -8vh;
    left: 4vw;
}

// game area, contains textArea, gameModeArea and answerArea
#gameArea {
    width: 100%;
    height: 79vh;

    justify-content: center;
    align-items: center;

    .gameSection {
        height: inherit;
    }

    // contains textArea and gameModeArea
    #majorSection {
        display: flex;
        width: 100%;
        height: inherit;
    }
    
    #textArea {
        width: 80%;
        overflow-y: scroll;

        a {
            all: none;
            color:rgb(194, 232, 253);
            text-decoration: none;
        }
        
        p {
            font-size: 1.5vw;
            color: var(--colorLight);
            background-color: var(--colorMid);
            padding: 0.5vh 1vw 1vh 1vw;
            border-radius: 2vw;

            margin-top: 2vh;
            margin-bottom: 1vh;
            margin-left: 2vw;
            
            width: 80%;
        }
        
    }

    // contains title and an indefinite number of buttons (generated dynamically with js)
    #gameModeArea {
        width: 20vw;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-y: scroll;

        // GAME MODES title
        h3 {
            color: var(--colorLight);
            font-size: 2vw;
            margin-top: 3vh;
        }

        // these are the buttons
        .button {
            display: flex;
            width: fit-content;
            height: 7.5vh;
            cursor: pointer;

            justify-content: center;
            align-items: center;
            border-radius: 5vw;
            padding: 2vh 1.5vw;
            color: var(--colorLight);
            font-size: 3.5vh;
            margin: 2vh auto;
            transition: background-color 500ms;
        }
    }
    
    // the bar at the button with the buttons, combo and input
    #answerArea {
        background-color: var(--colorDark);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;
        
        height: 10vh;
        gap: 1vw;

        box-shadow: var(--colorDarker) 0 -1vh 2vh;

        #p_combo {
            color: var(--colorLight);
            left: 11vw;
            bottom: 1.5vh;
            text-shadow: 0 0 1vh red ;
            transition: text-shadow 1000ms;
        }

    }
        
    #inp_textInput {
        all: unset;
        display: flex;
        background-color: var(--colorDark);
        color: var(--colorLight);
        padding: 0.5vh 1vw;
        border-radius: 5vh;
        font-size: 1.5vw;
        font-family: $fontJetBrains;
        box-shadow: var(--colorMidLight) 0 0 0 0.5vh;
        transition: background-color 500ms;
    }

    #inp_textInput:hover {
        background-color: var(--colorMid);
    }

    #inp_textInput:focus {
        background-color: var(--colorDarker);
    }

    // vestigial (to submit answer)
    #btn_enterButton {
        width: 5vw;
    }

    .button {
        display: flex;
        width: fit-content;
        height: 7.5vh;
        cursor: pointer;

        justify-content: center;
        align-items: center;
        border-radius: 5vw;
        padding: 2vh 1.5vw;
        color: var(--colorLight);
        font-size: 3.5vh;
        transition: background-color 500ms;
    }

    .button:hover {
        background-color: var(--colorMidLight);
    }
}  

div {
    // to change the scroll bar
    div::-webkit-scrollbar {
        display: block;
        background: var(--colorMid); 
 
    }

    div::-webkit-scrollbar-track {
        background-color: var(--colorDark);
        border-radius: 5vh;
    }
    div::-webkit-scrollbar-thumb {
        background-color: var(--colorMidLight);
        border-radius: 5vh;
    }
}

// colors for the game mode options

.button.red:hover {
    background-color: var(--colorRed) !important;
}
.button.yellow:hover {
    background-color: var(--colorYellow) !important;
    color: var(--colorDark) !important;
}
.button.orange:hover {
    background-color: var(--colorOrange)!important;
}
.button.blue:hover {
    background-color: var(--colorBlue) !important;
}
.button.green:hover {
    background-color: var(--colorGreen) !important;
    color: var(--colorDark) !important;
}
.button.purple:hover {
    background-color: var(--colorPurple) !important;
}


.colorCorrect {
    color: var(--colorCorrect);
}
.wrongText {
    color: var(--colorWrong);
}
.warningText {
    color: var(--colorWarning);
}
.shieldColor {
    color: var(--colorBlue);
}

.supersonic {
    color: var(--colorSuperSonic);
    text-shadow: 0 0 1vh  var(--colorSuperSonic);
    font-weight: bold ;
}
.ultrasonic {
    color:  var(--colorUltraSonic);
    text-shadow: 0 0 1vh  var(--colorUltraSonic) ;
    font-weight: bold ;
}

.comboColor {
    color: var(--colorUltraSonic);
}


// these can stay TODO: add glow effect as separate class
.boldText {
    font-weight: bold;
}

.biggerText {
    font-size: 2.5vw;
    margin-bottom: 2vh;
}
.bigText {
    font-size: 2vw;
    margin-bottom: 2vh;
}