
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 

    // outline: 1px magenta solid;
}



body {
    background: #333;
    font-family: montserrat;
    
}


header {
    height: 10vh;
    width: 100%;
    
    justify-content: center;
    box-shadow: #222 0 1rem 2rem;
    
    #p_points {
        color: gold;
        font-size: 3rem;
        text-align: center;
        position: absolute;
        right: 11rem;
        top: 1rem;
    }

    h1 {
        color: white;
        display: block;
        height: fit-content;
        width: 100%;
        text-align: center;
        font-family: grandstander;
        font-size: 4rem;
    }
    #p_subtitle {
        text-align: center;
        display: block;
        margin-top: -0.25rem;
        font-size: 1.25rem;
        color: white;
        width: 100%;
        font-family: grandstander;
        font-style: italic;
    }
}

iframe {
    display: none;
}

#gameArea {
    width: 100%;
    height: 80vh;

    justify-content: center;
    align-items: center;

    .gameSection {
        height: inherit;

        .button {
            width: fit-content;
            padding: 1rem;
            display: block;
            text-align: center;

        }
        
        padding: 2rem 5rem;
    }

    #majorSection {
        display: flex;
        width: 100%;
        height: 80vh;
    }
    
    #gameModeArea {
        width: 20vw;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
            color: #fff;
            font-size: 2rem;
            font-weight: 800;
            margin-top: -1rem;
        }

        div {
            width: 100%;
            margin-top:1rem;
            justify-content: center;
            align-items: center;
        }
    }

    #textArea {
        width: 80%;
        overflow-y: scroll;
        p {
            font-size: 1.5rem;
            color: #fff;
            background-color: #444;
            padding: 1rem;
            padding-bottom: 0.5rem;
            border-radius: 2.5rem;
            margin-bottom: 1rem;;

        }

        .correctText {
            color: rgb(140, 240, 140);
        }
        .wrongText {
            color: rgb(237, 107, 107);
        }
        .warningText {
            color: rgb(248, 175, 92);
        }
        .shieldColor {
            color: rgb(70, 187, 255);
        }

        .boldText {
            font-weight: bold;
        }
        .gameModeStart {
            font-weight: bold;
            font-size: 2rem;
        }
        
        .supersonic {
            color:rgb(53, 255, 53);
            text-shadow: 0 0 1rem rgb(53, 255, 53) ;
            font-weight: bold ;
        }
        .ultrasonic {
            color: rgb(221, 53, 255);
            text-shadow: 0 0 1rem rgb(221, 53, 255) ;
            font-weight: bold ;
        }
        .comboColor {
            color: rgb(221, 53, 255);
        }
    }

    #answerArea {
        background-color: #333;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        position: absolute;
        bottom: 1rem;
        gap: 1rem;

        box-shadow: #222 0 -1rem 2rem;


        #p_combo {
            color: rgb(255, 255, 255);
            text-shadow: 0 0 1rem red ;
            font-size: 3rem;
            text-align: center;
            position: absolute;
            left: 11rem;
            top: 1rem;
        }

    }
        
    #inp_textInput {
        display: flex;
        background-color: #333;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        outline: none;
        transition: 500ms;
    }
    #inp_textInput:focus {
        background-color: #222;
        
    }

    #btn_enterButton {
        width: 5rem;
    }

    .button {
        display: flex;
        width: 10rem;
        height: 5rem;
        cursor: pointer;
        transition: 200ms;

        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        
        color: white;
        font-size: 2rem;
    }

    .button:hover {
        background-color: #666;
    }
}  

::-webkit-scrollbar {
    background: #444; 
    
}

::-webkit-scrollbar-track {
    background-color: #666;
    border-radius: 5rem;
}

// colors for the game mode options

.button.red:hover {
    background-color: rgb(237, 107, 107) !important;
}
.button.yellow:hover {
    background-color: #ffd700 !important;
    color: #333 !important;
}
.button.orange:hover {
    background-color: rgb(248, 175, 92) !important;
}
.button.blue:hover {
    background-color: rgb(70, 187, 255) !important;
}
.button.green:hover {
    background-color: rgb(140, 240, 140) !important;
    color: #333 !important;
}
.button.purple:hover {
    background-color: rgb(218, 94, 230) !important;
}

