*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --colorRed: rgb(237, 107, 107);
  --colorYellow: rgb(243, 240, 72);
  --colorOrange: rgb(248, 175, 92);
  --colorBlue: rgb(70, 187, 255);
  --colorGreen: rgb(140, 240, 140);
  --colorPurple: rgb(218, 94, 230);
}

body {
  font-family: "Montserrat", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--colorDark)), to(var(--colorDarker)));
  background: linear-gradient(var(--colorDark), var(--colorDarker));
}

.counter {
  position: absolute;
  text-align: center;
  font-size: 5vh;
}

#inp_fileChooser {
  color: transparent;
  position: absolute;
  bottom: 4.5vh;
  right: 4vw;
  width: 8vw;
  height: 4vh;
  display: inline;
  border: none;
  outline: none;
  border-radius: 4vh;
  background-color: transparent;
  font-family: var(--fontMontserrat);
}

#inp_fileChooser::-webkit-file-upload-button {
  visibility: hidden;
  position: absolute;
  bottom: 4vh;
  right: 2vw;
  margin: 0;
  padding: 0;
}

#inp_fileChooser::before {
  bottom: 4vh;
  right: 2vw;
  height: 4vh;
  content: 'CHANGE BG';
  font-weight: bold;
  color: color(-colorLight);
  display: inline-block;
  border-radius: 1vw;
  padding: 1vh 1vw;
  cursor: pointer;
  text-shadow: 0 0 var(--colorLight);
  font-size: 1vw;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  outline: none;
}

#inp_fileChooser:hover::before {
  background-color: var(--colorMidLight);
}

header {
  padding-top: 1vh;
  height: 11vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: var(--colorDarker) 0 1vh 2vh;
          box-shadow: var(--colorDarker) 0 1vh 2vh;
  position: relative;
  z-index: 3;
  background: var(--colorDark);
}

header #p_points {
  color: gold;
  position: absolute;
  right: 10vw;
  top: 2vh;
}

header h1, header #p_subtitle {
  color: var(--colorLight);
  width: 100%;
  font-family: "Grandstander";
  text-align: center;
}

header h1 {
  font-size: 3.5vw;
}

header #p_subtitle {
  margin-top: -0.5vh;
  font-size: 1vw;
  font-style: italic;
}

iframe {
  display: none;
}

#canvas_loadingBar {
  display: inline;
  width: 12vw;
  height: 8vh;
  border-radius: 5vw;
  background-color: var(--colorDarker);
  position: absolute;
  top: 0.5vw;
  left: 4vw;
}

#gameArea {
  width: 100%;
  height: 79vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gameArea .gameSection {
  height: inherit;
}

#gameArea #majorSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: inherit;
}

#gameArea #textArea {
  width: 80%;
  overflow-y: scroll;
}

#gameArea #textArea a {
  all: none;
  color: #c2e8fd;
  text-decoration: none;
}

#gameArea #textArea p {
  font-size: 1.5vw;
  color: var(--colorLight);
  background-color: var(--colorMid);
  padding: 2.5vh 2vw 2.5vh 2vw;
  border-radius: 2vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  width: 80%;
}

#gameArea #textArea::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-filter: blur(0.5vw) brightness(0.4);
          filter: blur(0.5vw) brightness(0.4);
  background-image: var(--backgroundImageSRC);
  background-position: -10vw 10vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#gameArea #gameModeArea {
  width: 20vw;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow-y: scroll;
  background: var(--colorDark);
}

#gameArea #gameModeArea h3 {
  color: var(--colorLight);
  font-size: 2vw;
  margin-top: 3vh;
}

#gameArea #gameModeArea .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 7.5vh;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5vw;
  padding: 2vh 1.5vw;
  color: var(--colorLight);
  font-size: 1.5vw;
  margin: 2vh auto;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

#gameArea #answerArea {
  background-color: var(--colorDark);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  font-size: 1.5vw;
  height: 10vh;
  gap: 1vw;
  -webkit-box-shadow: var(--colorDarker) 0 -1vh 2vh;
          box-shadow: var(--colorDarker) 0 -1vh 2vh;
}

#gameArea #answerArea #p_combo {
  color: var(--colorLight);
  left: 8vw;
  bottom: 1.5vh;
  text-shadow: 0 0 1vh red;
  -webkit-transition: text-shadow 1000ms;
  transition: text-shadow 1000ms;
}

#gameArea #answerArea #btn_bgRemover {
  position: absolute;
  right: 5vw;
  bottom: 1vh;
  height: 1vw;
  width: 6vw;
  font-size: 1vw;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

#gameArea #answerArea #btn_bgRemover.button:hover {
  background: none;
  color: var(--colorRed);
}

#gameArea #inp_textInput {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--colorDark);
  color: var(--colorLight);
  padding: 0.5vh 1vw;
  border-radius: 5vh;
  font-size: 1.5vw;
  font-family: "JetBrains Mono", monospace;
  -webkit-box-shadow: var(--colorMidLight) 0 0 0 0.5vh;
          box-shadow: var(--colorMidLight) 0 0 0 0.5vh;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

#gameArea #inp_textInput:hover {
  background-color: var(--colorMid);
}

#gameArea #inp_textInput:focus {
  background-color: var(--colorDarker);
}

#gameArea .label {
  color: var(--colorLight);
}

#gameArea .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 7.5vh;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5vw;
  padding: 2vh 1.5vw;
  color: var(--colorLight);
  font-size: 3.5vh;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

#gameArea .button:hover {
  background-color: var(--colorMidLight);
}

div div::-webkit-scrollbar {
  display: block;
  background: var(--colorMid);
}

div div::-webkit-scrollbar-track {
  background-color: var(--colorDark);
  border-radius: 5vh;
}

div div::-webkit-scrollbar-thumb {
  background-color: var(--colorMidLight);
  border-radius: 5vh;
}

.button.red:hover {
  background-color: var(--colorRed) !important;
}

.button.yellow:hover {
  background-color: var(--colorYellow) !important;
  color: var(--colorDark) !important;
}

.button.orange:hover {
  background-color: var(--colorOrange) !important;
}

.button.blue:hover {
  background-color: var(--colorBlue) !important;
}

.button.green:hover {
  background-color: var(--colorGreen) !important;
  color: var(--colorDark) !important;
}

.button.purple:hover {
  background-color: var(--colorPurple) !important;
}

.colorCorrect {
  color: var(--colorCorrect);
}

.wrongText {
  color: var(--colorWrong);
}

.warningText {
  color: var(--colorWarning);
}

.shieldColor {
  color: var(--colorBlue);
}

.supersonic {
  color: var(--colorSuperSonic);
  text-shadow: 0 0 1vh var(--colorSuperSonic);
  font-weight: bold;
}

.ultrasonic {
  color: var(--colorUltraSonic);
  text-shadow: 0 0 1vh var(--colorUltraSonic);
  font-weight: bold;
}

.comboColor {
  color: var(--colorUltraSonic);
}

.boldText {
  font-weight: bold;
}

.biggerText {
  font-size: 2.5vw;
  margin-bottom: 2vh;
}

.bigText {
  font-size: 2vw;
  margin-bottom: 2vh;
}

#inp_volSlider {
  height: 1vh;
  -webkit-appearance: none;
  width: 8vw;
  background-color: var(--colorDark);
}

#inp_volSlider::-webkit-slider-runnable-track {
  width: 8vw;
  height: 2vh;
  cursor: pointer;
  background: var(--colorDarker);
  border-radius: 1vw;
}

#inp_volSlider::-webkit-slider-thumb {
  height: 2vw;
  width: 2vw;
  border-radius: 1vw;
  background: var(--colorMidLight);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5vw;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

#inp_volSlider::-webkit-slider-thumb:hover {
  height: 2vw;
  width: 2vw;
  border-radius: 1vw;
  background: var(--colorLight);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5vw;
}
/*# sourceMappingURL=style.css.map */