* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--colorLight);
  font-family: "Montserrat", sans-serif;
}

html {
  --colorDarkest: #111;
  --colorDarker: #222;
  --colorDark: #333;
  --colorMid: #444;
  --colorMidLight: #666;
  --colorLight: #fff;
  --shadowDark: 
    .25vh .25vw 0.5vw var(--colorDarker) inset,
    -.25vh -.25vw 0.5vw var(--colorDarkest) inset;
  --shadowLight:
    .25vh .25vw 0.5vw var(--colorMid) inset,
    -.25vh -.25vw 0.5vw var(--colorMidLight) inset;
}

::-moz-selection {
  background-color: #666;
}

::selection {
  background-color: #666;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--colorDark)), to(var(--colorDarker))) no-repeat;
  background: linear-gradient(var(--colorDark), var(--colorDarker)) no-repeat;
  overflow-y: hidden;
}

header {
  padding-top: 1vh;
  height: 11vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: var(--colorDarker) 0 1vh 2vh;
          box-shadow: var(--colorDarker) 0 1vh 2vh;
  position: relative;
  z-index: 3;
  background: var(--colorDark);
}

header #p_points {
  color: var(--colorYellow);
  position: absolute;
  right: 10vw;
  top: 2vh;
}

header h1, header #p_subtitle {
  color: var(--colorLight);
  width: 100%;
  font-family: "Grandstander";
  text-align: center;
}

header h1 {
  font-size: 3.5vw;
}

header #p_subtitle {
  margin-top: -0.5vh;
  font-size: 1vw;
  font-style: italic;
}

header img {
  width: 4vw;
  height: 4vw;
  display: inline;
  position: absolute;
  top: 0.5vw;
  left: 20vw;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-filter: drop-shadow(0.5vw 0.5vw 0.25vw var(--colorDarker));
          filter: drop-shadow(0.5vw 0.5vw 0.25vw var(--colorDarker));
}

header img:hover {
  -webkit-transform: scale(1.2) rotate(375deg);
          transform: scale(1.2) rotate(375deg);
}

#contentArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75.7vh;
}

#contentArea #textArea {
  width: 80vw;
  height: 100%;
  overflow-y: scroll;
  overflow-y: overlay;
}

#contentArea #textArea a {
  all: none;
  color: #c2e8fd;
  text-decoration: none;
}

#contentArea #textArea p {
  font-size: 1.5vw;
  color: var(--colorLight);
  background-color: var(--colorMid);
  padding: 2.5vh 2vw 2.5vh 2vw;
  border-radius: 2vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  width: 80%;
  -webkit-box-shadow: 0.5vw 1vw 1vw var(--colorDarker);
          box-shadow: 0.5vw 1vw 1vw var(--colorDarker);
}

#contentArea #seriesArea {
  width: 20vw;
  height: 100%;
  position: relative;
  background: var(--colorDark);
  overflow-y: scroll;
  overflow-y: overlay;
}

#contentArea #seriesArea p {
  text-align: center;
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 1vh;
  text-transform: uppercase;
}

#contentArea #seriesArea input {
  background-color: var(--colorMidLight);
  -webkit-box-shadow: var(--shadowDark);
          box-shadow: var(--shadowDark);
  display: inline;
  outline: none;
  font-size: 1.5vw;
  width: 95%;
  border-radius: 100vw;
  border-style: none;
  padding: 1vh 1vw;
  margin-bottom: 1vh;
  margin-left: 0.5vw;
}

#contentArea #seriesArea input::-moz-selection {
  background-color: var(--colorDark);
}

#contentArea #seriesArea input::selection {
  background-color: var(--colorDark);
}

#contentArea #seriesArea .randomise {
  margin-bottom: 1vh;
}

#contentArea #seriesArea #titleContainer {
  background: var(--colorDark);
  position: fixed;
  top: 10vh;
  -webkit-box-shadow: 0 1vw 1vw var(--colorDarker);
          box-shadow: 0 1vw 1vw var(--colorDarker);
}

#contentArea #seriesArea #buttonContainer {
  margin-top: 30vh;
}

#controlArea {
  height: 13.4vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background: var(--colorDark);
  -webkit-box-shadow: 0 -1vh 3vw var(--colorDarkest);
          box-shadow: 0 -1vh 3vw var(--colorDarkest);
  position: relative;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#controlArea .button {
  padding: 1vh 3vw;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  -webkit-box-shadow: var(--shadowDark);
          box-shadow: var(--shadowDark);
  background-color: var(--colorDark);
  padding: 1vw;
  width: 14vw;
  font-size: 1.5vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2vh;
  border-radius: 100vw;
  cursor: pointer;
  overflow-wrap: break-word;
  text-transform: uppercase;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.button:hover {
  -webkit-box-shadow: var(--shadowLight);
          box-shadow: var(--shadowLight);
  background-color: var(--colorMid);
}

iframe {
  display: none;
}

::-webkit-scrollbar {
  display: inline;
  position: relative;
  background: var(--colorDark);
}

::-webkit-scrollbar-track {
  background-color: var(--colorDark);
  border-radius: 5vh;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colorMidLight);
  border-radius: 5vh;
}

#inp_volSlider {
  height: 1vh;
  -webkit-appearance: none;
  width: 8vw;
  background-color: var(--colorDark);
}

#inp_volSlider::-webkit-slider-runnable-track {
  width: 8vw;
  height: 2vh;
  cursor: pointer;
  background: var(--colorDarker);
  border-radius: 1vw;
}

#inp_volSlider::-webkit-slider-thumb {
  height: 2vw;
  width: 2vw;
  border-radius: 1vw;
  background: var(--colorMidLight);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5vw;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

#inp_volSlider::-webkit-slider-thumb:hover {
  height: 2vw;
  width: 2vw;
  border-radius: 1vw;
  background: var(--colorLight);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5vw;
}

.boldText {
  font-weight: bold;
}

iframe {
  display: none;
}

#canvas_loadingBar {
  display: inline;
  width: 12vw;
  height: 8vh;
  border-radius: 5vw;
  background-color: var(--colorDarker);
  position: absolute;
  top: 0.5vw;
  left: 4vw;
}
/*# sourceMappingURL=style.css.map */