
$fontMontserrat: 'Montserrat', sans-serif;
$fontGrandstander: 'Grandstander';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--colorLight);
    font-family: $fontMontserrat;

}

html {
    --colorDarkest: #111;
    --colorDarker: #222;
    --colorDark: #333;
    --colorMid: #444;
    --colorMidLight: #666;
    --colorLight: #fff;

    --shadowDark: 
    .25vh .25vw 0.5vw var(--colorDarker) inset,
    -.25vh -.25vw 0.5vw var(--colorDarkest) inset;
    
    --shadowLight:
    .25vh .25vw 0.5vw var(--colorMid) inset,
    -.25vh -.25vw 0.5vw var(--colorMidLight) inset;
}

::selection {
    background-color: #666;
}



body {
    background: linear-gradient(var(--colorDark), var(--colorDarker)) no-repeat;
}

header {
    h1, h3 {
        display: inline-block;
        width: 100%;
        font-family: $fontGrandstander;
        font-size: 3vw;
        text-align: center;
        line-height: 6vh;

    }

    

    h1 {
        padding-top: 1vh;

    }
    h3 {
        font-size: 1.5vw;
        font-style: italic;
        font-weight: 400;
        line-height: 3vh;

    }

    img {
        width: 4vw;
        height: 4vw;
        display: inline;
        position: absolute;
        top: 0.5vw;
        left: 20vw;
        cursor: pointer;
        transition: transform 500ms ease-in-out;
        filter: drop-shadow(0.5vw 0.5vw 0.25vw var(--colorDarker));
    }

    img:hover {
        transform: scale(1.2) rotate(375deg);
    }
    
    position: relative;
    z-index: 6;
    margin: 0 auto;
    width: 100%;
    height: 6vw;
    box-shadow: 0 1vh 3vw var(--colorDarkest);

}

#contentArea {
    // * { outline: red 1px solid }
    display: flex;
    height: 75.7vh;
    
    #textArea {
        width: 80vw;
        height: 100%;
        overflow-y: scroll;
        overflow-y: overlay;
        a {
            all: none;
            color:rgb(194, 232, 253);
            text-decoration: none;
        }
        
        p {
            font-size: 1.5vw;
            color: var(--colorLight);
            background-color: var(--colorMid);
            // background-color: rgba( 51, 51, 51, 0.5 );
            padding: 2.5vh 2vw 2.5vh 2vw;
            border-radius: 2vw;

            margin-top: 2vh;
            margin-bottom: 1vh;
            margin-left: 2vw;
            
            width: 80%;

            box-shadow: 0.5vw 1vw 1vw var(--colorDarker);
        }


    }

    #seriesArea {
        width: 20vw;
        height: 100%;
        position: relative;
        background: var(--colorDark);

        p {
            text-align: center;
            font-size: 2vw;
            margin-top: 3vh;
            margin-bottom: 1vh;
            text-transform: uppercase;

        }
        input {
            background-color: var(--colorMidLight);
            box-shadow: var(--shadowDark);
            display: inline;
            outline: none;
            

            font-size: 1.5vw;
            width: 95%;
            border-radius: 100vw;
            border-style: none;
            padding: 1vh 1vw;
            margin-bottom: 1vh;
            margin-left: 0.5vw;
        }
        input::selection {
            background-color: var(--colorDark);
        }
        
        .randomise {
            margin-bottom: 1vh;
        }
        
        #titleContainer {
            background: var(--colorDark);
            position: fixed;
            top: 12vh;
            box-shadow: 0 1vw 1vw var(--colorDarker);


        }

        #buttonContainer {
            margin-top: 30vh;
        }
        
        overflow-y: scroll;
        overflow-y: overlay;

    }

}

#controlArea {
    height: 12vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--colorDark);
    box-shadow: 0 -1vh 3vw var(--colorDarkest);
    position: relative;
    z-index: 3;
    align-items: center;

    .button {
        padding: 1vh 3vw;
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.button {
    // background: var(--colorMid);
    box-shadow: var(--shadowDark);
    background-color: var(--colorDark);

    padding: 1vw;
    width: 14vw;
    font-size: 1.5vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2vh;
    border-radius: 100vw;
    cursor: pointer;

    text-transform: uppercase;

    transition-duration: 500ms;
    transition-property: background-color;
}
.button:hover {
    // background: var(--colorMidLight);
    box-shadow: var(--shadowLight);
    background-color: var(--colorMid);
}

iframe {
    display: none;
}

::-webkit-scrollbar {
    display: inline;
    position: relative;
    background: var(--colorDark); 

}

::-webkit-scrollbar-track {
    background-color: var(--colorDark);
    border-radius: 5vh;
}
::-webkit-scrollbar-thumb {
    background-color: var(--colorMidLight);
    border-radius: 5vh;
}


#inp_volSlider {
    height: 1vh;
    -webkit-appearance: none;
    width: 8vw;
    background-color: var(--colorDark);
}
#inp_volSlider::-webkit-slider-runnable-track {
    width: 8vw;
    height: 2vh;
    cursor: pointer;
    background: var(--colorDarker);
    border-radius: 1vw;
}

#inp_volSlider::-webkit-slider-thumb {
    height: 2vw;
    width: 2vw;
    border-radius: 1vw;
    background: var(--colorMidLight);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.5vw;
    transition: background 200ms;
}
#inp_volSlider::-webkit-slider-thumb:hover {
    height: 2vw;
    width: 2vw;
    border-radius: 1vw;
    background: var(--colorLight);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.5vw;
}

.boldText { font-weight: bold; }